<%# app/views/users/show.html.erb %>
<p style="color: green"><%= notice %></p> <%# Display flash notices %>

<h1>User Details</h1>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h2>Messages Sent:</h2>
<ul>
  <% @user.messages.each do |message| %>
    <li><%= link_to truncate(message.body, length: 30), message_path(message) %> (in <%= link_to "Chat ##{message.chat_id}", chat_path(message.chat) %>)</li>
  <% end %>
  <% if @user.messages.empty? %>
    <li>No messages sent.</li>
  <% end %>
</ul>


<div>
  <%= link_to "Edit this user", '#' %> | <%# Add edit_user_path(@user) later if needed %>
  <%= link_to "Back to users", users_path %>
  <%# Add delete link later if needed %>
</div>