<h1>User Details</h1>

<p><strong>ID:</strong> <%= @user.id %></p>
<p><strong>Full Name:</strong> <%= @user.first_name %> <%= @user.last_name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Created At:</strong> <%= @user.created_at %></p>
<p><strong>Updated At:</strong> <%= @user.updated_at %></p>

<%= link_to 'â† Back to Users', users_path, class: "btn btn-secondary mt-3" %>
