<%# app/views/users/show.html.erb %>
<p style="color: green"><%= notice %></p>

<h1>User Details</h1>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% all_chats = (@user.sent_chats + @user.received_chats).uniq.sort_by(&:created_at).reverse %>
<h2>Chats (<%= all_chats.count %>):</h2>
<% if all_chats.any? %>
  <ul>
    <% all_chats.each do |chat| %>
      <li><%= link_to chat.chat_participants, chat_path(chat) %></li>
    <% end %>
  </ul>
<% else %>
  <p>This user is not participating in any chats yet.</p>
<% end %>

<h2>Messages Sent (<%= @user.messages.count %>):</h2>
<% if @user.messages.any? %>
  <ul>
    <% @user.messages.order(created_at: :desc).each do |message| %>
      <li><%= link_to truncate(message.body, length: 30), message_path(message) %> (in <%= link_to "Chat ##{message.chat_id}", chat_path(message.chat) %>)</li>
    <% end %>
  </ul>
<% else %>
  <p>No messages sent by this user.</p>
<% end %>

<div>
  
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>
</div>

<div>
  <% if can? :edit, @user %>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
  <% end %>
  <%= link_to "Back to users", users_path %>
  <%# Add destroy if you implement it and define abilities %>
  <%# if can? :destroy, @user %>
  <%#   | <%= button_to 'Delete this user', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%# end %>
</div>