<%# app/views/chats/index.html.erb %>
<h1>My Inbox</h1>

<% if can? :create, Chat %>
  <p><%= link_to "Start New Chat", new_chat_path %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Conversation With</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td>
          <%# USE THE NEW METHOD HERE %>
          <% other_user = chat.other_participant(current_user) %>
          <% if can? :show, chat %>
            <%= link_to other_user.full_name, chat_path(chat) %>
          <% else %>
            <%= other_user.full_name %>
          <% end %>
        </td>
        <td>
          <% if can? :show, chat %>
            <%= link_to 'Show', chat_path(chat) %>
          <% end %>
        </td>
        <td>
          <% if can? :edit, chat %>
            <%= link_to 'Edit', edit_chat_path(chat) %>
          <% end %>
        </td>
        <td>
          <% if can? :destroy, chat %>
            <%= button_to 'Delete', chat, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>