<%# app/views/chats/new.html.erb %>
<h1>Start New Chat</h1>

<%= form_with(model: @chat) do |form| %>
  <% if @chat.errors.any? %>
    <div style="color: red;">
      <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h2>
      <ul>
        <% @chat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :sender_id %> (Select Sender)<br>
    <%# Create a dropdown for selecting the sender %>
    <%# We use map to create an array of [display_name, id] pairs %>
    <%= form.select :sender_id, options_from_collection_for_select(@users, :id, :full_name, @chat.sender_id), { prompt: 'Select Sender' } %>
    <%# Alternative using map: %>
    <%#= form.select :sender_id, @users.map { |user| [user.full_name, user.id] }, { prompt: 'Select Sender' } %>
  </div>

  <div>
    <%= form.label :receiver_id %> (Select Receiver)<br>
    <%# Create a dropdown for selecting the receiver %>
    <%= form.select :receiver_id, options_from_collection_for_select(@users, :id, :full_name, @chat.receiver_id), { prompt: 'Select Receiver' } %>
    <%# Alternative using map: %>
    <%#= form.select :receiver_id, @users.map { |user| [user.full_name, user.id] }, { prompt: 'Select Receiver' } %>
  </div>


  <div>
    <%= form.submit "Create Chat" %>
  </div>
<% end %>

<br>
<%= link_to "Back to chats", chats_path %>